<%= form_for(mark) do |form| %>
  <div class="d-none">
    <%= form.date_field :date, placeholder: :date, class: "form-control", presence: true %>
    <%= form.time_field :time, placeholder: :time, class: "form-control", presence: true %>
    <%= form.text_field :kind, placeholder: :kind, class: "form-control", presence: true %>
  </div>

  <div class="text-center">
    <p class="mb-0"><b>Date:</b> <%= @mark.date.strftime('%d/%m/%Y') %></p>
    <p class="mb-0"><b>Time:</b> <%= @mark.time.strftime('%Hh%M') %></p>
    <p><b>Kind:</b> <%= @mark.kind.titleize %></p>
  </div>


  <div class="actions mt-5 text-center">
    <%= button_tag(class:  "btn btn-primary btn-lg") do %>
      <%= fa_icon("check", text: "Mark time") %>
    <% end %>
  </div>
<% end %>
