<h1>Marks</h1>

<div class="float-right mb-5">
  <%= link_to fa_icon("plus", text: "New mark"), new_mark_path, class: 'btn btn-primary btn-lg' %>
</div>

<%= render 'search_form' %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th>
          Date
        </th>
        <th>
          Day of week
        </th>
        <% 2.times do |time| %>
          <% display = time + 1 %>
          <th>
            E<%= display %>
          </th>
          <th>
            S<%= display %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @dates.reverse_each do |date| %>
        <tr class="text-center">
          <td>
            <%= date.strftime('%d/%m/%Y') %>
          </td>
          <td>
            <%= date.strftime('%A') %>
          </td>
          <td>
            <%= @marks.entrance.where(date: date).first&.time&.strftime("%Hh%M") %>
          </td>
          <td>
            <%= @marks.exit.where(date: date).first&.time&.strftime("%Hh%M") %>
          </td>
          <td>
            <%= @marks.entrance.where(date: date).last&.time&.strftime("%Hh%M") %>
          </td>
          <td>
            <%= @marks.exit.where(date: date).last&.time&.strftime("%Hh%M") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
