<h1>Marks</h1>

<div class="float-right mb-5">
  <%= link_to fa_icon("plus", text: "New mark"), new_mark_path, class: 'btn btn-primary btn-lg' %>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">
          Date
        </th>
        <th class="text-center">
          Day of week
        </th>
        <th class="text-center">
          E1
        </th>
        <th class="text-center">
          S1
        </th>
        <th class="text-center">
          E2
        </th>
        <th class="text-center">
          S2
        </th>
      </tr>
    </thead>
    <tbody>
      <% dates = '2020-01-01'.to_date..'2020-12-31'.to_date%>
      <% dates.each do |date| %>
        <tr>
          <td class="text-center">
            <%= date.strftime('%d/%m/%Y') %>
          </td>
          <td class="text-center">
            <%= date.strftime('%A') %>
          </td>
          <td class="text-center">
            <%= @marks.entrance.where(date: date).first&.time&.strftime("%Hh%M") %>
          </td>
          <td class="text-center">
            <%= @marks.exit.where(date: date).first&.time&.strftime("%Hh%M") %>
          </td>
          <td class="text-center">
            <%= @marks.entrance.where(date: date).last&.time&.strftime("%Hh%M") %>
          </td>
          <td class="text-center">
            <%= @marks.exit.where(date: date).last&.time&.strftime("%Hh%M") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
