<h1>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control form-control-lg", placeholder: "First name" %>
    </div>
  </div>

  <div class="row">
    <div class="col mt-3">
      <%= f.text_field :last_name, autocomplete: "family_name", class: "form-control form-control-lg", placeholder: "Last name" %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= f.email_field :email, autocomplete: "email", class: "form-control form-control-lg", placeholder: "E-mail" %>
    </div>
  </div>

  <div class="row">
    <div class="col mt-3">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
    </div>
  </div>

  <div class="row">
    <div class="col mt-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:" form-control form-control-lg", placeholder: "Password confirmation" %>
    </div>
  </div>

  <div class="actions mt-5 text-center">
    <%= f.button fa_icon("check", text: "Sign up"), class: "btn btn-success btn-lg" %>
  </div>
<% end %>
